<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Upload Product and Store Details</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<div class="alert alert-danger" role="alert" th:if="${!status}">
		<strong>Error:</strong> <span th:text="${message}"></span>
	</div>
	<strong>Done</strong>
</body>
</html>
